<section class="section">
  <div class="columns is-centered">
    <div class="column is-half box">
      <table class="table is-fullwidth is-centered has-text-centered">
        <thead>
          <th width="80%">Name</th>
          <th colspan=2>Admin</th>
        </thead>
        <tbody>
          <% @clubs.each do |club| %>
            <td><%= link_to club.name, club_path(club) %></td>
            <td><%= club.admin?(current_user) %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
