<div class="column is-12 has-text-centered">
  <div class="columns is-multiline">
    <% @lists.each do |list| %>
      <div class="column is-4">
        <a href="<%= list_path(list) %>" class="box has-background-grey-lighter">
          <div class="field">
            <%= list.name %>
          </div>

          <%# TODO - move to controlller %>
          <% collage = list.random_collage %> 

          <div class="columns is-mobile is-gapless is-marginless">
            <% collage[0..3].each do |movie| %>
              <div class="column is-one-quarter">
                <figure class="image is-2by3">
                  <%= render partial: "movies/poster", locals: { movie: movie } %>
                </figure>
              </div>
            <% end %>
          </div>

          <div class="columns is-mobile is-gapless">
            <% collage[4..7].each do |movie| %>
              <div class="column is-one-quarter">
                <figure class="image is-2by3">
                  <%= render partial: "movies/poster", locals: { movie: movie } %>
                </figure>
              </div>
            <% end %>
          </div>

        </a>
      </div>
    <% end %>
  </div>
</div>
