<div class="column is-10">
  <cite class="box is-size-7">
    Photos by:
    <p>
      Craig Sybert on Unsplash
    </p>
    <p>
      Chris Fowler on Unsplash
    </p>
    <p>
      Eric Marty on Unsplash
    </p>
    <p>
      Orlova Maria on Unsplash
    </p>
    <p>
      Frederick Tubiermont on Unsplash
    </p>
    <p>
      Jeremy Yap on Unsplash
    </p>
    <p>
      Ian Valerio on Unsplash
    </p>
    <p>
      Itay Kabalo on Unsplash
    </p>
    <p>
      Sam McGhee on Unsplash
    </p>
    <p>
      Steven Lelham on Unsplash
    </p>
    <p>
      Jon Tyson on Unsplash
    </p>
    <p>
      Haley Lawrence on Unsplash
    </p>
    <p>
      Josh Felise on Unsplash
    </p>
  </cite>
</div>
