<section class="section" data-controller="quickview modal">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 has-text-centered">
      </div>
    </div>

    <div data-target="quickview.quickview" class="quickview">
    </div>

    <%# Modal %>
    <div data-target="modal.modal_container" class="modal">
      <div data-action="click->modal#toggle" class="modal-background" style=""></div>
      <div data-target="modal.modal_content" class="modal-content">
      </div>
      <button data-action="modal#toggle" class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="columns is-centered is-multiline">
      <%= render partial: @movies, locals: { redirect_path: watchlists_path, show_badges: true } %>
    </div>
  </div>
</section>
