<section class="hero video is-fullheight-with-navbar">
  <!-- Hide on mobile until can do hero on mobil -->
  <div class="hero-video is-hidden-touch">
    <video poster="" id="" playsinline autoplay muted loop>
      <source src="/videos/hero.mp4" type="video/mp4">
    </video>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-quarter">
          <div class="box">
            <h1 class="title has-text-centered">Forgot password</h1>
            <%= form_for(:password_reset, url: password_resets_path) do |f| %>
              <div class="field">
                <div class="control">
                  <%= f.label :email, class: "label" %>
                  <%= f.email_field :email, class: "input" %>
                </div>
              </div>

              <div class="field">
                <div class="control has-text-centered">
                  <%= f.submit "Submit", class: "button is-link" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# TODO Slow down video playback remove to own js file %>
<script>
  document.querySelector('video').playbackRate = 0.1;
</script>
