<div class="column is-10">
  <%= render partial: "nomination_message" %>

  <div class="columns">
    <div class="column is-2">
      <%= render partial: "filters" %>
    </div>

    <div class="column is-10">
      <%= render partial: "movie_list" %>
    </div>
  </div>
</div>
