<%# Watchlist %>
<div class="overlay-top-right is-flex is-flex-column buttons">
  <% if current_user.movies.include?(movie) %>
    <%= button_to join_movie_to_user_path(current_user.join_movie_to_users.find { |w| w.movie == movie }.id),
      method: :delete,
      remote: true,
      data: { tooltip: "Remove from Watchlist" },
      class: "button is-danger is-rounded is-small tooltip is-tooltip-danger is-tooltip-top" do %>
        <span class="icon is-marginless">
          <i class="fas fa-list"></i>
        </span>
    <% end %>


  <% else %>
    <%= button_to join_movie_to_users_path,
      method: :post,
      params: { "join_movie_to_user[movie_id]" => movie.id,
                "join_movie_to_user[user_id]" => current_user.id,
                "query" => @query },
      remote: true,
      data: { tooltip: "Add to Watchlist" },
      class: "button is-link is-rounded is-small tooltip is-tooltip-link is-tooltip-top" do %>
        <span class="icon is-marginless">
          <i class="fas fa-list"></i>
        </span>
    <% end %>
  <% end %>

    <%# Nominate Buttons %>
    <% unless @locked %>
      <%= render partial: "movies/nominate_button", locals: { movie: movie } %>
    <% end %>
</div>

