<%# TODO use for single nomination format %>
<%# <% if current_user &&
<%#     current_club &&
<%#     current_club.current_poll && 
<%#     current_user.current_nominations(current_club.current_poll.id) %>
<%#   <%= button_to nomination_path(current_user.current_nominations(current_club.current_poll.id).id),
<%#     method: :patch,
<%#     params: { "nomination[poll_id]" => current_club.current_poll.id,
<%#               "nomination[movie_id]" => movie.id, 
<%#               "nomination[user_id]" => current_user.id },
<%#     remote: true,
<%#     disabled: @locked,
<%#     class: "button button-expand is-small is-fullwidth" do  %>
<%#       <span class="icon is-small is-marginless">
<%#         <i class="fas fa-person-booth"></i>
<%#       </span>
<%#
<%#       <div class="button-message">
<%#         Nominate
<%#       </div>
<%#   <% end %>
<%# <% elseif current_user &&
<%#     current_club &&
<%#     current_club.current_poll %>
  <%# <%= button_to nominations_path,
  <%#   method: :post,
  <%#   params: { "nomination[poll_id]" => current_club.current_poll.id,
  <%#             "nomination[movie_id]" => movie.id, 
  <%#             "nomination[user_id]" => current_user.id },
  <%#   remote: true,
  <%#   disabled: @locked,
  <%#   class: "button button-expand is-small is-fullwidth" do %>
  <%#     <span class="icon is-small is-marginless">
  <%#       <i class="fas fa-person-booth"></i>
  <%#     </span>
  <%#
  <%#     <div class="button-message">
  <%#       Nominate
  <%#     </div>
  <%# <% end %>
<%# <% end %>

<%# TODO Use for multiple nominations %>
<% if current_user &&
    current_club &&
    current_club.current_poll && 
    current_user.current_nominations(current_club.current_poll).map(&:movie).map(&:id).include?(movie.id) %>

  <%= button_to nomination_path(current_user.current_nominations(current_club.current_poll).detect { |nom| nom.movie.id == movie.id}.id),
    method: :delete,
    remote: true,
    disabled: @locked,
    class: "button button-expand is-small is-fullwidth is-danger" do %>
      <span class="icon is-small is-marginless">
        <i class="fas fa-trash-restore"></i>
      </span>

      <div class="button-message">
        Un-Nominate
      </div>
  <% end %>

<% elsif current_user &&
    current_club &&
    current_club.current_poll %>

  <%= button_to nominations_path,
    method: :post,
    params: { "nomination[poll_id]" => current_club.current_poll.id,
              "nomination[movie_id]" => movie.id, 
              "nomination[user_id]" => current_user.id },
    remote: true,
    disabled: @locked,
    class: "button button-expand is-small is-fullwidth" do %>
      <span class="icon is-small is-marginless">
        <i class="fas fa-person-booth"></i>
      </span>

      <div class="button-message">
        Nominate
      </div>
  <% end %>

<% end %>
