<div class="is-overlay has-opacity-75 is-flex is-hidden"
     data-target="poster.overlay quickview.overlay"
     data-action="click->quickview#show"
     data-movie-id="<%= movie.id %>">

     <%# Ratings %>
     <% if movie.omdb_checked_date && movie.ratings.present? %>
       <div class="overlay-ratings is-hidden-mobile">
         <%= render partial: "movies/ratings", locals: { movie: movie } %>
       </div>
     <% end %>

     <%# Play Button %>
     <%= render partial: "movies/play_button" %>
</div>
