<button class="button is-medium is-rounded is-link has-opacity-100 is-outlined is-hidden-mobile"
        data-action="click->modal#show">
        <span class="icon">
          <i class="fas fa-play"></i>
        </span>
</button>

