<section class="section <%= section_classes %>">
  <div class="container is-widescreen">
    <div class="columns is-centered is-multiline is-mobile">
      <%= yield %>
    </div>
  </div>
</section>
