<div class="column is-12">
  <%= render partial: "join_movie_to_users/nomination_message" %>

  <div class="columns">
    <div class="column is-10">
      <%= render partial: "join_movie_to_users/movie_list" %>
    </div>
  </div>
</div>
