<div class="column is-12">
  <%= render partial: "voting_message" %>

  <% if !@locked %>

      <div class="columns">
        <div class="column is-6">
          <%= render partial: "vote_form" %>
        </div>


        <div class="column is-6 <%= @poll.movie ? "" : "has-background-grey-lighter" %>">
          <%= render partial: "poll_results" %>
        </div>
      </div>

  <% end %>
</div>
