<div class="column is-12">
  <%= render partial: "polls/voting_message" %>

  <div class="columns is-centered">
    <% if !@locked %>

      <div class="column is-6">
        <%= render partial: "polls/vote_form" %>
      </div>

    <% end %>

    <% if !@locked || @poll.movie %>

      <div class="column is-6 <%= @poll.movie ? "" : "has-background-grey-lighter" %>">
        <%= render partial: "polls/poll_results" %>
      </div>

    <% end %>
  </div>
</div>
