<% if @trailer.try(:key) %>
  <div class="is-video-wrapper">
    <iframe  src="https://www.youtube.com/embed/<%= @trailer.key %>" allowfullscreen=true frameborder="0"></iframe> 
  </div>
<% else %>
  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <div class="box has-text-centered">
        <p class="has-text-weight-bold">No trailer</p>
      </div>
    </div>
  </div>
<% end %>
