<% if @trailer.try(:key) %>
  <iframe style="height:315px !important; width: 560px !important" width="560" height="315" src="https://www.youtube.com/embed/<%= @trailer.key %>" allowfullscreen=true frameborder="0"></iframe> 
<% else %>
  <h1>No trailer</h1>
<% end %>
