<div class="is-flex is-flex-column overlay-button is-hidden-mobile" data-movie="<%= movie.id %>">
  <button class="button button-expand is-link is-small" data-action="click->vote#upvote" <%= @locked ? 'disabled' : '' %>>
    <span class="icon is-small is-marginless">
      <i class="fas fa-thumbs-up"></i>
    </span>

    <div class="button-message">
      +1
    </div>
  </button>

  <button class="button button-expand is-small" data-action="click->vote#push" <%= @locked ? 'disabled' : '' %>>
    <span class="icon is-small is-marginless">
      <i class="fas fa-equals"></i>
    </span>

    <div class="button-message">
      0
    </div>
  </button>

  <button class="button button-expand is-danger is-small" data-action="click->vote#downvote" <%= @locked ? 'disabled' : '' %>>
    <span class="icon is-small is-marginless">
      <i class="fas fa-thumbs-down"></i>
    </span>

    <div class="button-message">
      -1
    </div>
  </button>
</div>
