<div class="column is-12">
  <%= render partial: "watchlists/nomination_message" %>

  <div class="columns">
    <div class="column is-2">
      <%= render partial: "seenlists/filters" %>
    </div>

    <div class="column is-10">
      <%= render partial: "watchlists/movie_list" %>
    </div>
  </div>
</div>
