<div class="column is-6-desktop is-12-mobile">
  <h3 class="is-size-5">
    Upcoming Features:
  </h3>
  <div class="content">
    <ol>
      <li> Calendar view with movie night and current movie shown </li>
      <li> Customize color scheme/icon </li>
      <li> Movie ranks per user are determined by movie head to head preference </li>
      <li> Ranked voting system </li>
      <li> Mobile app (Dart/Flutter) </li>
    </ol>
  </div>
</div>

