<section class="section">
  <p class="size-4 has-text-weight-semibold">
    This is the app for choosing what to watch during movie night!
  </p>

  <hr />

  <h3 class="subtitle">
    MVP Features:
  </h3>

  <div class="content">
    <ul>
      <li>
        User can create and login to account
      </li>
      <li>
        User can add/create a movie to their watchlist
      </li>
      <li>
        User can submit movie to watch for movie night
      </li>
      <li>
        All users vote for movie they want to watch from pool and movie is selected from vote
        Currently voting rules are very simple, most votes wins.
      </li>
    </ul>
  </div>

  <hr />

  <h3 class="subtitle">
    Planned Features:
  </h3>

  <div class="content">
    <ol>
      <li>
        Search from movie api, to include movie meta info and poster as well as streaming options
      </li>
      <li>
        Calendar view with movie night and current movie shown
      </li>
      <li>
        Customize color scheme/icon
      </li>
      <li>
        Movie ranks per user are determined by movie head to head preference
      </li>
      <li>
        Ranked voting system
      </li>
      <li>
        Mobile app (Dart/Flutter)
      </li>
    </ol>
  </div>
</section>
