<section class="section">

  <p class="subtitle">
    This is the app for choosing what to watch during movie night!
  </p>

  <div class="box">
    <% if @viewing.present? %>

      <p>Next viewing is on: <%= @viewing.datetime.to_formatted_s(:long_ordinal) %> </p>

      <hr />

      <p>Nominations must be in by <%= (@viewing.datetime - 2.weeks).to_formatted_s(:long_ordinal) %></p>
      <p>Votes must be in by <%= (@viewing.datetime - 1.weeks).to_formatted_s(:long_ordinal) %></p>

    <% else %>
      <p>No viewings currently scheduled</p>
    <% end %>
  </div>

  <hr />

  <h3 class="subtitle">
    MVP Features:
  </h3>

  <div class="content">
    <ul>
      <li>
        <strike>
          User can create and login to account
        </strike>
      </li>
      <li>
        <strike>
          User can add/create a movie to their watchlist
        </strike>
      </li>
      <li>
        <strike>
          User can submit movie to watch for movie night, nominating a movie can be done upto two weeks before movie night
        </strike>
      </li>
      <li>
        All users vote for movie they want to watch from pool and movie is selected from vote

        Voting starts two weeks from viewing date and ends one week before

        Voting:
        <ul>
          <li>
            All users can give a thumbs up, push, or thumbs down to any movie
          </li>
          <li>
            Most votes wins
          </li>
          <li>
            Tiebreaker chooses one of tied movies at random
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <hr />

  <h3 class="subtitle">
    Planned Features:
  </h3>

  <div class="content">
    <ol>
      <li>
        Search from movie api, to include movie meta info and poster as well as streaming options
      </li>
      <li>
        Add "club" and roles
      </li>
      <li>
        View other watchlists
      </li>
      <li>
        Calendar view with movie night and current movie shown
      </li>
      <li>
        Customize color scheme/icon
      </li>
      <li>
        Movie ranks per user are determined by movie head to head preference
      </li>
      <li>
        Ranked voting system
      </li>
      <li>
        Mobile app (Dart/Flutter)
      </li>
    </ol>
  </div>
</section>
